.avatar-item {
  border-color: white;
  padding: 0.5px;
}
.avatar-item:hover {
  border-color: #00ff66; /* green hover */
}
.avatar-item.selected {
  border-width: 3px;
  border-color: #00ff66;
  box-shadow: 0 0 15px #00ff66;
}