.iframe-error-container {  
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  background: radial-gradient(#121111, #000);
  color: white;
  font-family: 'Inter', sans-serif;
  user-select: none;
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index:99999999;
}

.iframe-error-container main {
  padding: 2em;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: left;
  width: 100%;
  max-width: 480px;
  border-bottom-width: 4px;
}

.iframe-error-container .title {
  text-transform: uppercase;
  color: #f44336;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}

.iframe-error-container .desc {
  font-size: 0.875em;
  text-align: center;
}