@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
}

:host {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
}

// .notifications-wrapper {
//   position: fixed;
//   top: 0; /* Header'ın altından başlasın */
//   right: 0;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
//   // transform: translateX(50%);
//   display: flex;
//   flex-direction: column;
//   gap: 12px;
//   align-items: center;
//   justify-content: center;
//   background-color: rgba(0, 0, 0, 0.7);
// }

.notifications-wrapper {
  position: fixed;
  top: 80px; /* Header'ın altından başlasın */
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-end;
}

.notification {
  animation: slideIn 0.5s ease-out forwards;
}

.notification--info {
  @apply border border-gray-800 bg-black bg-gradient-to-b from-[#3498db] to-[#0061a1];
}
.notification--win {
  @apply border border-gray-800 bg-black bg-gradient-to-b from-[#44f155] to-[#00760c];
}
.notification--success {
  @apply border border-gray-800 bg-black bg-gradient-to-b from-[#44f155] to-[#00760c];
}
.notification--warning {
  @apply border border-gray-800 bg-black bg-gradient-to-b from-[#ea995b] to-[#a35700];
}
.notification--error {
  @apply border border-gray-800 bg-black bg-gradient-to-b from-[#ea5b5b] to-[#7b1313];
}
