:host {
  display: flex;
  align-items: center;
}

.total-bet-container {
  font-family: var(--font-family, 'Poppins', sans-serif);
}

.total-bet-label {
  font-weight: 500;
}

.total-bet-value, .total-bet-currency {
  font-weight: 800;
}

@media (max-width: 420px) {
  .total-bet-container{
    font-size: 10px;
  }
}